<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>game_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>game_car.png</key>
		<dict>
			<key>frame</key>
			<string>{{1302,2},{517,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517,284}}</string>
			<key>sourceSize</key>
			<string>{517,284}</string>
		</dict>
		<key>game_hip001.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{656,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{656,247}}</string>
			<key>sourceSize</key>
			<string>{656,247}</string>
		</dict>
		<key>game_ikuyo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1926},{371,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,94}}</string>
			<key>sourceSize</key>
			<string>{371,94}</string>
		</dict>
		<key>game_out001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1419,505},{199,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,247}}</string>
			<key>sourceSize</key>
			<string>{199,247}</string>
		</dict>
		<key>game_out002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1821,2},{218,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,182}}</string>
			<key>sourceSize</key>
			<string>{218,182}</string>
		</dict>
		<key>game_out003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853,841},{179,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,169}}</string>
			<key>sourceSize</key>
			<string>{179,169}</string>
		</dict>
		<key>game_out004.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,468},{195,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,253}}</string>
			<key>sourceSize</key>
			<string>{195,253}</string>
		</dict>
		<key>game_out005.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,685},{199,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,247}}</string>
			<key>sourceSize</key>
			<string>{199,247}</string>
		</dict>
		<key>game_out006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853,670},{179,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,169}}</string>
			<key>sourceSize</key>
			<string>{179,169}</string>
		</dict>
		<key>game_out007.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,665},{199,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,247}}</string>
			<key>sourceSize</key>
			<string>{199,247}</string>
		</dict>
		<key>game_out008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,505},{203,251}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,251}}</string>
			<key>sourceSize</key>
			<string>{203,251}</string>
		</dict>
		<key>game_out009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1668,670},{183,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,173}}</string>
			<key>sourceSize</key>
			<string>{183,173}</string>
		</dict>
		<key>game_safe001.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,468},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_safe002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1712,453},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_safe003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445,288},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_safe004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1178,288},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_safe005.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,251},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_safe006.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,251},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_safe007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1821,186},{265,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,215}}</string>
			<key>sourceSize</key>
			<string>{265,215}</string>
		</dict>
		<key>game_waku.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>game-art-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:97d1832bad766d553913ad8b355130e1$</string>
		<key>textureFileName</key>
		<string>game-art-hd.png</string>
	</dict>
</dict>
</plist>
