<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>game_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{260,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,129}}</string>
                <key>sourceSize</key>
                <string>{260,129}</string>
            </dict>
            <key>game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,541},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{30,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_cloud001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,966},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,51}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>game_cloud002.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,561},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,67}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>game_cloud003.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,561},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,67}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>game_cloud004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,96},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,59}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>game_cloud005.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,966},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,51}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>game_cloud006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,341},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>game_cloud007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{74,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,51}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>game_cloud008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,542},{96,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,67}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>game_hip001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>game_ikuyo.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,966},{186,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,47}}</string>
                <key>sourceSize</key>
                <string>{186,47}</string>
            </dict>
            <key>game_out001.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,524},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>game_out002.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,541},{109,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>game_out003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,249},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>game_out004.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,133},{98,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,127}}</string>
                <key>sourceSize</key>
                <string>{98,127}</string>
            </dict>
            <key>game_out005.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,439},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>game_out006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,157},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>game_out007.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,337},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>game_out008.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,233},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>game_out009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>game_safe001.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,414},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe002.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,414},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe003.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,280},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe004.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,267},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe005.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,267},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe006.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,133},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe007.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,120},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe008.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,427},{95,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,142}}</string>
                <key>sourceSize</key>
                <string>{95,142}</string>
            </dict>
            <key>game_safe100.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,120},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_waku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>get.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,402},{138,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,70}}</string>
                <key>sourceSize</key>
                <string>{138,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc21fddbc5478a29b53faa11c79e3cbd$</string>
            <key>textureFileName</key>
            <string>game-art.png</string>
        </dict>
    </dict>
</plist>
