<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_background-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>game_car-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,2},{519,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,258}}</string>
                <key>sourceSize</key>
                <string>{519,258}</string>
            </dict>
            <key>game_center-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,2},{60,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_cloud001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1926},{143,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{143,99}}</string>
                <key>sourceSize</key>
                <string>{153,109}</string>
            </dict>
            <key>game_cloud002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1030},{187,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{187,130}}</string>
                <key>sourceSize</key>
                <string>{199,142}</string>
            </dict>
            <key>game_cloud003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,978},{187,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{187,130}}</string>
                <key>sourceSize</key>
                <string>{199,142}</string>
            </dict>
            <key>game_cloud004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{167,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{167,115}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>game_cloud005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1926},{144,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{144,99}}</string>
                <key>sourceSize</key>
                <string>{152,109}</string>
            </dict>
            <key>game_cloud006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1926},{165,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{165,115}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>game_cloud007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1926},{144,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{144,99}}</string>
                <key>sourceSize</key>
                <string>{152,109}</string>
            </dict>
            <key>game_cloud008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,846},{187,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{187,130}}</string>
                <key>sourceSize</key>
                <string>{199,142}</string>
            </dict>
            <key>game_hip001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{640,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,231}}</string>
                <key>sourceSize</key>
                <string>{640,231}</string>
            </dict>
            <key>game_ikuyo-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{371,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,94}}</string>
                <key>sourceSize</key>
                <string>{371,94}</string>
            </dict>
            <key>game_out001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1166},{199,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,247}}</string>
                <key>sourceSize</key>
                <string>{199,247}</string>
            </dict>
            <key>game_out002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,846},{218,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,182}}</string>
                <key>sourceSize</key>
                <string>{218,182}</string>
            </dict>
            <key>game_out003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1367},{179,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>game_out004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,819},{195,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,253}}</string>
                <key>sourceSize</key>
                <string>{195,253}</string>
            </dict>
            <key>game_out005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1016},{199,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,247}}</string>
                <key>sourceSize</key>
                <string>{199,247}</string>
            </dict>
            <key>game_out006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1217},{179,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>game_out007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,846},{199,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,247}}</string>
                <key>sourceSize</key>
                <string>{199,247}</string>
            </dict>
            <key>game_out008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,961},{203,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,251}}</string>
                <key>sourceSize</key>
                <string>{203,251}</string>
            </dict>
            <key>game_out009-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1047},{183,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,173}}</string>
                <key>sourceSize</key>
                <string>{183,173}</string>
            </dict>
            <key>game_safe001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,262},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,262},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,235},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,554},{290,309}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,309}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,262},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,554},{290,309}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,309}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,527},{290,309}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,309}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,527},{290,309}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,309}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe100-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,235},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_waku-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>get-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,819},{276,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,140}}</string>
                <key>sourceSize</key>
                <string>{276,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9dc03d646e7e8ba514278a62d259fb$</string>
            <key>textureFileName</key>
            <string>game-art-hd.png</string>
        </dict>
    </dict>
</plist>
