<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>game_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{260,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,129}}</string>
                <key>sourceSize</key>
                <string>{260,129}</string>
            </dict>
            <key>game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,413},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{30,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>game_cloud001.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,370},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>game_cloud002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,966},{75,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>game_cloud003.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,966},{75,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>game_cloud004.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,51},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>game_cloud005.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,143},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>game_cloud006.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>game_cloud007.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,100},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>game_cloud008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{75,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>game_hip001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{320,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,116}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>game_ikuyo.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,966},{186,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,47}}</string>
                <key>sourceSize</key>
                <string>{186,47}</string>
            </dict>
            <key>game_out001.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,445},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>game_out002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,511},{109,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>game_out003.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,278},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>game_out004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,264},{98,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,127}}</string>
                <key>sourceSize</key>
                <string>{98,127}</string>
            </dict>
            <key>game_out005.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,443},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>game_out006.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,186},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>game_out007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,468},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>game_out008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,364},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>game_out009.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,561},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>game_safe001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,414},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe002.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,296},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,267},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,267},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe005.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,149},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,120},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe007.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,120},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_safe008.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,414},{95,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,142}}</string>
                <key>sourceSize</key>
                <string>{95,142}</string>
            </dict>
            <key>game_safe100.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{145,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,156}}</string>
                <key>sourceSize</key>
                <string>{145,156}</string>
            </dict>
            <key>game_waku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>get.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,966},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903d2e281fcbba0fcb5bfd2e72cc30e3$</string>
            <key>textureFileName</key>
            <string>game-art.png</string>
        </dict>
    </dict>
</plist>
