<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_background-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>game_car-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{517,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,284}}</string>
                <key>sourceSize</key>
                <string>{517,284}</string>
            </dict>
            <key>game_center-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1926},{60,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_hip001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,231}}</string>
                <key>sourceSize</key>
                <string>{640,231}</string>
            </dict>
            <key>game_ikuyo-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{371,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,94}}</string>
                <key>sourceSize</key>
                <string>{371,94}</string>
            </dict>
            <key>game_out001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,636},{199,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,247}}</string>
                <key>sourceSize</key>
                <string>{199,247}</string>
            </dict>
            <key>game_out002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{218,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,182}}</string>
                <key>sourceSize</key>
                <string>{218,182}</string>
            </dict>
            <key>game_out003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,872},{179,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>game_out004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,439},{195,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,253}}</string>
                <key>sourceSize</key>
                <string>{195,253}</string>
            </dict>
            <key>game_out005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,537},{199,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,247}}</string>
                <key>sourceSize</key>
                <string>{199,247}</string>
            </dict>
            <key>game_out006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1012},{179,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>game_out007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,288},{199,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,247}}</string>
                <key>sourceSize</key>
                <string>{199,247}</string>
            </dict>
            <key>game_out008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,186},{203,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,251}}</string>
                <key>sourceSize</key>
                <string>{203,251}</string>
            </dict>
            <key>game_out009-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,837},{183,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,173}}</string>
                <key>sourceSize</key>
                <string>{183,173}</string>
            </dict>
            <key>game_safe001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,819},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,819},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,580},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,527},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,527},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,288},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,235},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_safe008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,786},{190,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,283}}</string>
                <key>sourceSize</key>
                <string>{190,283}</string>
            </dict>
            <key>game_safe100-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,235},{290,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,311}}</string>
                <key>sourceSize</key>
                <string>{290,311}</string>
            </dict>
            <key>game_waku-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dec00345290a54ff154b017180745b7d$</string>
            <key>textureFileName</key>
            <string>game-art-hd.png</string>
        </dict>
    </dict>
</plist>
